# Database configuration
DB_USER=sa
DB_PASSWORD=your-sql-server-password
DB_SERVER=localhost\\SQLEXPRESS
DB_NAME=GradeAndGrindDB
PORT=4000

# Cloudinary API keys
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-cloud-api-key
CLOUDINARY_API_SECRET=your-cloud-api-secret

# Firebase service account
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_PRIVATE_KEY="your-firebase-private-key"
FIREBASE_CLIENT_EMAIL=your-firebase-client-email